
#title { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 165px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }

body{
	background-image: url("https://images.unsplash.com/photo-1602204941397-d18a573efa6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80");
background-size: 1950px;
}

.color{ color: rgba(255, 255, 255, 0.692); font-size: 30px;
}


